@page "/certificate"
@using BlazorApp1.Data


<h1>Get your certificate</h1>
<sub>You can share your certificate on social media, save it or print it. Here's a step by step guide</sub>
<img src="~/Assets/banner.jpg"/>

    Here's your step-by-step guide that you requested:
    Step 1: Visit https://studentpartners.microsoft.com/
    Step 2: Log in (to avoid any issues log in with the account that you signed up to the Student Partner Program with, not your student partner account)
    <img src="/Assets/Certificate/SignIn.jpg"/>
    Step 3: Click Student Partner account (see figure 2)
    <img src="/Assets/Certificate/StndPartnerAccount.jpg"/>

    Figure 1: By clicking on the profile icon in the top right, you can reveal this menu which shows a "Student Partner Account" hyperlink, click that
    Step 4: Click "Print your MSP Certificate (see figure 2)
    <img src="/Assets/Certificate/PrintYourMspCertificate.jpg"/>

       
    Figure 2: This page should be shown to you, where you can click "Print your MSP Certificate"
    Step 5: Choose print on the certificate after right clicking, or use Control P (Windows)/Cmd P (Mac os), see figure 3
      <img src="/Assets/Certificate/RightClickPrint.jpg"/>
    Figure 3, right click the certificate and choose Print
    Step 6: Choose save to PDF on Windows or Microsoft Print to PDF, see figures 4 and 5
    <img src="/Assets/Certificate/SaveAsPDF.jpg"/>
    Figure 4: Save as PDF
    <img src="/Assets/Certificate/MSPrintToPDF.jpg"/>
    Figure 6, Microsoft Print to PDF
    Step 6: Save your PDF to which ever location you desire, see figure 7
    Step 7: Success!

    




