@page "/certificate"
@using BlazorApp1.Data


<h1>Get your certificate</h1>
<br>
You can share your certificate on social media, save it or print it. Here's how to save or print it.
<br>
    Step 1: Visit https://studentpartners.microsoft.com/
<br>
    Step 2: Log in (to avoid any issues log in with the account that you signed up to the Student Partner Program with, not your student partner account)
<br>
<img src="/Assets/Certificate/SignIn.jpg" width="720" />
<br>
<sub style="font-style:italic">Figure 1: Log in in the top right</sub>
<br>
    Step 3: Click Student Partner account (see figure 2)
<br>
<img src="/Assets/Certificate/StndPartnerAccount.jpg" width="300" />
<br>
<sub style="font-style:italic">Figure 2: By clicking on the profile icon in the top right, you can reveal this menu which shows a "Student Partner Account" hyperlink, click that</sub>
<br>

    Step 4: Click "Print your MSP Certificate (see figure 2)
<br>
<img src="/Assets/Certificate/PrintYourMspCertificate.jpg" width="300" />
<br>
<sub style="font-style:italic">Figure 3: This page should be shown to you, where you can click "Print your MSP Certificate"</sub>
<br>
    Step 5: Choose print on the certificate after right clicking, or use Control P (Windows)/Cmd P (Mac os), see figure 3
<br>
<img src="/Assets/Certificate/RightClickPrint.jpg" width="300" />
<br>
<sub style="font-style:italic">Figure 4, right click the certificate and choose Print</sub>
<br>
    Step 6: Choose save to PDF on Windows or Microsoft Print to PDF, see figures 4 and 5


<br>
<img src="/Assets/Certificate/SaveAsPDF.jpg" width="300" />
<br>
<sub style="font-style:italic">Figure 5: Save as PDF</sub>
<br>
<img src="/Assets/Certificate/MSPrintToPDF.jpg" width="300" />
<br>
<sub style="font-style:italic">Figure 6: Micorosft Print to PDF</sub>

    Step 6: Save your PDF to which ever location you desire, see figure 7
<br>
    Step 7: Success!






